.bot-arrow {
    width: 100%;
    max-height: 20vh;
    min-height: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.bot-arrow .arrow {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    animation: arrowMove 1.6s infinite ease-in-out;
}

@keyframes arrowMove {
    50% {
        top: 15px;
    }
    100% {
        top: 0;
    }
}
