.third-page {
    width: 100%;
    height: 85vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5),
        inset 0 -80px 80px -80px rgba(138, 123, 255, 0.5);
}

.third-page .up-contact-text {
    height: 25vh;
    min-height: 176px;
    width: 100%;
    display: flex;
    align-items: end;
}

.third-page .up-contact-text .text {
    height: 10vh;
    min-height: 70px;
    line-height: 10vh;
    font-size: 50px;
    margin-left: 10vw;
    white-space: nowrap;
}

.third-page .bt-contact-info {
    height: 60vh;
    min-height: 423px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
}

.third-page .bt-contact-info .my-info {
    height: 70px;
    width: 60vw;
    margin-top: 30px;
    position: relative;
    perspective: 500px;
    transition: 0.3s linear;
}

.bt-contact-info .my-info .card-front,
.bt-contact-info .my-info .card-back {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease-in, font-size 0.08s linear;
    background-color: #f8faffdd;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(138, 123, 255, 0.3);
    backface-visibility: hidden;
}

.bt-contact-info .my-info .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) rotateX(0deg);
}

.bt-contact-info .my-info:hover .card-front {
    transform: translate(-50%, -50%) rotateX(180deg);
}

.bt-contact-info .card-front .card-front-svg-ico {
    display: block;
    width: 35px;
    height: 35px;
    margin-left: 3vw;
}

.bt-contact-info .card-front .card-front-text {
    display: block;
    width: 100px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    margin-left: 25px;
}

.bt-contact-info .my-info .card-back {
    font-size: 25px;
    line-height: 70px;
    text-align: center;
    transform: translate(-50%, -50%) rotateX(-180deg);
}

.bt-contact-info .my-info:hover .card-back {
    transform: translate(-50%, -50%) rotateX(0deg);
}

.my-info .card-back-to-copy:active {
    font-size: 24px;
}

@media (max-width: 600px) {
    .third-page .up-contact-text .text {
        margin: 0 auto;
        font-size: 40px;
    }
    .third-page .bt-contact-info .my-info {
        width: 360px;
        transform: scale(0.8);
    }
}

@media (max-width: 500px) {
    .third-page .up-contact-text .text {
        font-size: 8vw;
    }
}

@media (max-width: 400px) {
    .third-page .bt-contact-info .my-info {
        transform: scale(0.7);
    }
}

@media (max-width: 350px) {
    .third-page .bt-contact-info .my-info {
        transform: scale(0.6);
    }
}

/* 
    .third-page高度 === .up-contact-text + .bt-contact-info
    修改时要一并修改
*/

.content.dark .third-page {
    box-shadow: inset 0 15px 15px -15px #000;
}

.content.dark .bt-contact-info .my-info .card-front,
.content.dark .bt-contact-info .my-info .card-back {
    background-color: #252b3a;
    box-shadow: 0 0 2px #00ffe0;
}
