.content .footer {
    height: 15vh;
    min-height: 105px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    background-color: #a394ff11;
}

.footer .copyright {
    width: 100%;
    min-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer .copyright .copyright-box {
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.footer .copyright .copyright-box p,
.footer .copyright .copyright-box a {
    color: #8a7bff;
}

.footer .copyright .copyright-box a:hover {
    color: #391fff;
}

@media (max-width: 350px) {
    .footer .copyright .copyright-box1 {
        margin-bottom: 1px;
    }
    .footer .copyright .copyright-box2 {
        display: none;
    }
    .footer .copyright .copyright-box3 {
        margin-top: 1px;
    }
    .footer .copyright {
        min-height: 30px;
        flex-direction: column;
        justify-content: space-between;
    }
}

.content.dark .footer {
    background-color: #252b3a;
    box-shadow: inset 0 15px 15px -15px #000;
}

.content.dark .footer .copyright .copyright-box p,
.content.dark .footer .copyright .copyright-box a {
    color: #00ffe0bb;
}

.content.dark .footer .copyright .copyright-box a:hover {
    color: #00ffe0;
}
