.second-page {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5),
        inset 0 -80px 80px -80px rgba(138, 123, 255, 0.5);
}

.stack-area {
    width: 100%;
    height: 300vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.stack-area .stick-right,
.stack-area .stick-left {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    flex-basis: 50%;
}

.stack-cards {
    width: 100%;
    height: 100%;
    position: relative;
}

.stack-card {
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 6mm;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease-in-out, box-shadow 0.2s linear;
    opacity: 1;
}

.stack-card:nth-child(1) {
    background: #8267f2;
    color: #f0e6ff;
    z-index: 4;
}
.stack-card:nth-child(1):hover {
    box-shadow: 2px 2px 10px #8367f299;
}

.stack-card:nth-child(2) {
    background: #a394ff;
    color: #4a2d8c;
    z-index: 3;
}
.stack-card:nth-child(2):hover {
    box-shadow: 2px 2px 10px #a394ff99;
}

.stack-card:nth-child(3) {
    background: #c6bdff;
    color: #3a1f6d;
    z-index: 2;
}
.stack-card:nth-child(3):hover {
    box-shadow: 2px 2px 10px #c6bdff99;
}

.stack-card:nth-child(4) {
    background: #e0d9ff;
    color: #2d1a5c;
    z-index: 1;
}
.stack-card:nth-child(4):hover {
    box-shadow: 2px 2px 10px #e0d9ff99;
}

.card-sub-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
}

.card-suf-content {
    font-size: 20px;
    font-weight: 700;
}

.card-suf-content a {
    color: inherit;
    text-decoration: underline solid;
    text-underline-offset: 3px;
}

.stack-card.card-active {
    transform-origin: bottom left;
    opacity: 1;
}

.stick-left {
    flex-direction: column;
}

.stick-left-title {
    width: 420px;
    font-size: 84px;
    font-weight: 700;
    line-height: 88px;
}

.stick-left-sub-title {
    width: 420px;
    font-size: 16px;
    margin-top: 30px;
}

@media (max-height: 550px) {
    .stack-area {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .stack-card.card-active {
        opacity: 0.8;
    }
}

@media (max-height: 500px) {
    .stack-card.card-active {
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .stick-left {
        position: relative;
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30vh;
    }
    .stick-left-title {
        margin-left: 5vh;
        margin-right: 5vh;
    }
    .stick-left-sub-title {
        margin-left: 5vh;
        margin-right: 5vh;
    }
}

@media (max-width: 500px) {
    .stick-left {
        transform: scale(0.8);
    }
    .stick-right {
        transform: scale(0.8);
    }
    .stack-card.card-active {
        opacity: 0;
    }
}

@media (max-width: 380px) {
    .stick-left {
        transform: scale(0.6);
    }
    .stick-right {
        transform: scale(0.6);
    }
}

.content.dark .second-page {
    box-shadow: inset 0 15px 15px -15px #000;
}

.content.dark .stack-card:nth-child(1) {
    background: #0d8785;
    color: #c2fff9;
    z-index: 4;
}
.content.dark .stack-card:nth-child(1):hover {
    box-shadow: 2px 2px 10px #0d878599;
}

.content.dark .stack-card:nth-child(2) {
    background: #00a19c;
    color: #002e2d;
    z-index: 3;
}
.content.dark .stack-card:nth-child(2):hover {
    box-shadow: 2px 2px 10px #00a19c99;
}

.content.dark .stack-card:nth-child(3) {
    background: #08c3bb;
    color: #001c1b;
    z-index: 2;
}
.content.dark .stack-card:nth-child(3):hover {
    box-shadow: 2px 2px 10px #08c3bb99;
}

.content.dark .stack-card:nth-child(4) {
    background: #5be2d1;
    color: #001413;
    z-index: 1;
}
.content.dark .stack-card:nth-child(4):hover {
    box-shadow: 2px 2px 10px #5be2d199;
}
