* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

:focus-visible {
    outline: 1px solid #a394ffaa;
    outline-offset: 3px;
}

.content {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #f8faff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.first-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset 0 -80px 80px -80px rgba(138, 123, 255, 0.5);
    overflow: hidden;
}

.first-page .up-header-intros {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 75%;
}

@media (max-width: 700px) {
    .container {
        width: 85%;
    }
}
@media (max-width: 450px) {
    .container {
        width: 95%;
    }
}

.purple-text {
    color: #8a7bff;
}

.content.dark .purple-text {
    color: #00ffe0;
}

.content.dark {
    background-color: #1a1f2d;
}

.content.dark :focus-visible {
    outline: 1px solid #00e0c6aa;
}

.content.dark .first-page {
    /* box-shadow: inset 0 -80px 80px -80px #00e0c688; */
    box-shadow: none;
}

.content svg path {
    stroke: #8a7bff;
}

.content.dark svg path {
    stroke: #00ffe0;
}

.no-select {
    user-select: none;
}

::selection {
    background-color: #8a7bff;
    color: #f8faff;
}

.content.dark ::selection {
    background-color: #00ffe0;
    color: #1a1f2d;
}
